*
	box-sizing: border-box
li
	list-style-type: none
h1
	margin: 0
a
	color: $colorBase
	text-decoration: none
ul
	padding: 0
	margin: 0
#wrapper
	overflow: hidden

#wrapper .content-wrap .hide
  transform: translateX(-100%)

#wrapper .content-wrap .content-total
  transform: translateX(-25%)
  width: 145%

#wrapper .content-wrap .sidebar-total
  width: 100%
  h3
  	transition: .5s
  	+center(true,true)
  .sidebar-wrap
  	.sidebar-avatar-wrap
  		.sidebar-avatar
  			+sq($sizeAvatar * 1.5)
  			transition: .2s
  	.sidebar-about-wrap
  		+centerM()
  		width: 50%
  		padding-bottom: 60px
  		//text-align: justify
  .sidebar-contacts-wrap
  	padding-bottom: 60px
  	width: 50%
  	+centerM()
  	text-align: center
  	address
  		display: inline-block
  		margin: 0
  .sidebar-skills-wrap
  	width: 50%
  	+centerM()
  	text-align: center
  	.skills-wrap
  		.scale
  			height: 20px
#wrapper .absolute
  z-index: -100;
  position: absolute






